* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* header and navigation */

.header-container {
    background: #14341c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.header-content {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    margin: 0;
}

.logo {
    width: 50px;
    padding: 5px 5px 5px 50px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* main container for each page */

.hero-container {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/main-background.jpg);
    background-size: cover;
    height: 80vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

/* change the background images based on the landing page */

.hero-container-grow {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/grow.jpg);
}

.hero-container-eat {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/eat.jpg);
}

.hero-container-fight {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/fight.jpg);
}

.hero-container-know {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/know.jpg);
}

.hero-container-about {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/about.jpg);
}
 
.hero-container-contact {
        background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/contact.jpg);
}

.hero-content {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    color: white;
    line-height: 1;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.hero-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.5;
    text-shadow: 2px 2px 2px black;
}

/* clickable card section */

.card-container {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 70%)), url(images/card-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.card-content {
    color: white;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 15px;
}

.card {
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 20px 20px 50px 20px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

/* change the background images of each card */

.card-grow {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/grow.jpg);
}

.card-eat {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/eat.jpg);
}

.card-pests {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/fight.jpg);
}

.card-know {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/know.jpg);
}

/* assign varous traits to the cards */

.card:hover {
    transform: translateY(-7px);
}

.card p {
    text-shadow: 1px 1px black;
    text-align: center;
    padding-top: 50px;
}

.card h2 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: 50px;
}

.card-nav {
    text-decoration: none;
    color: white;
}

/* main footer for each page */

.footer-container {
    background: #14341c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-content {
    font-size: 13px;
    color: white;
    text-align: center;
}


/* TO DO figure out where to put these in proper order */

.item-container {
    background: #14341c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    max-height: 150px;
    max-width: 1000px;
}

.item-image img {
    display: block;
    max-height: 130px;
    padding: 10px;
}

.item-container p {
    color: white;
    padding: 10px;
    text-align: center;
    
}