/* styling for entire document, including google fonts */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* header and navigation */

header {
    background-color: #14341c;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-menu a:hover {
    color: rgb(113, 236, 56);
    transition: .5s;
}

.slogan {
    font-size: 1.7rem;
    color: white;
}

/* hamburger menu (hidden unless viewed on a smartphone screen) */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* main hero container for each page */

.hero-container {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/main-background.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

/* change the hero container background images based on the landing page */

.hero-container-grow {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/grow.jpg);
    background-position: center;
}

.hero-container-eat {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/eat.jpg);
    background-position: center;
}

.hero-container-fight {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/fight.jpg);
    background-position: center;
}

.hero-container-know {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/know.jpg);
    background-position: center;
}

.hero-container-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)), url(images/contact.jpg);
    background-position: center;
}

/* main hero content */

.hero-content {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    color: white;
    line-height: 1;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

.hero-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.5;
    text-shadow: 2px 2px 2px black;
}

/* clickable card section */

.card-container {
    background-image: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 70%)), url(images/card-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.card-content {
    color: white;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 15px;
}

.card {
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 20px 20px 50px 20px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

/* change the background images of each card */

.card-grow {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/grow.jpg);
}

.card-eat {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/eat.jpg);
}

.card-fight {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/fight.jpg);
}

.card-know {
    background-image: linear-gradient(rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url(images/know.jpg);
}

/* assign varous traits to the cards */

.card:hover {
    transform: translateY(-7px);
}

.card p {
    text-shadow: 1px 1px black;
    text-align: center;
    padding-top: 50px;
}

.card h2 {
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: 50px;
}

.card-nav {
    text-decoration: none;
    color: white;
}

/* main footer for each page */

.footer-container {
    background: #14341c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-content {
    font-size: 13px;
    color: white;
    text-align: center;
}

/* accordion content boxes for grow, eat, fight, and know sub-pages */

.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14341c;
    background-image: linear-gradient(#14341c, black);
}

.accordion-section-header {
    text-align: center;
    padding: 3rem 0;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.accordion-box {
    width: 60%;
    max-width: 1000px;
    margin: 0 0 0.5rem 0;
}

.accordion-item {
    background-color: rgb(4, 110, 39);
    color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 5px 0 black;
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
}

.accordion-item-header::after {
    content: "\25BE";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.3s ease-in-out;
}

.accordion-item-header.active::after {
    transform: rotate(-180deg);
}

.accordion-image {
    height: 134px;
    width: 150px;
    float: left;
    object-fit: cover;
    margin: 5px 20px 5px 0;
    border-color: #14341c;
    border-style: solid;
    border-width: 2px;
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, #14341c, transparent) 1;
    text-shadow: 1px 1px 1px black;
}

.accordion-item-body-content a {
        font-size: 16px;
        text-align: center;
        display: block;
        padding: 0 0 10px 0;
}

.accordion-box:nth-last-of-type(1) {
    padding-bottom: 75px;
}

/* contact form container styling*/

form {
    background-color: #14341c;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

/* contact form header */

form h3 {
    color: white;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

/* contact form input field styling */

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #e6e2e2;
    font-size: 16px;
}

/* contact form button styling */

.button {
    padding: 15px;
    background: #0e8e41;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* media query for smartphones. hides the hamburger menu on large screens
and makes it appear on smaller ones. creates an "x" animation. makes the 
main hero h1 and hero paragraphs smaller. also drops font size on the 
h3 for the contact form and the h1 for the accordion headers*/

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #14341c;
        width: 100%;
        text-align: center;
        transition: .5s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        background-color: rgb(3, 63, 20);
    }

    .slogan {
        font-size: 1rem;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 16px;
    }

    form h3 {
        font-size: 16px;
    }

    .accordion-item-header {
        font-size: 1rem;
    }
    .accordion-item-body-content a {
        text-align: left;
}